<h2 class="card-header info-color white-text text-left">Editing Requester</h2>

<%= render 'form', requester: @requester %>


<h6 class="text-left"> <%= link_to 'Show', @requester %> |
<%= link_to 'Back', requesters_path %></h6>
