<h2 class="card-header info-color white-text text-left">New Requester</h2>
<br/>
<%= render 'form', requester: @requester %>

<br/>
<h6 class="text-left"> |     <%= link_to 'Index', @requester %>     | 
<%= link_to 'Back', requesters_path %> | </h6>